:root{
  --cbkblue: #00a6be;
  --cbkred: #EC5E5E;
  --cbkyellow: #ffd45b;
  --cbklytblue: #009AF7;
  --cbkgray: rgb(199, 199, 199);
  --cbkneongreen: #9bdc28;
}

/* PRODUCTS CARD */

.p-card{
  position: relative;
  width: 320px;
  height: 450px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;

  
}

.p-card:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--cbkgray);
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
  
}

.p-card:hover:before{
  clip-path: circle(300px at 80% -20%);
  background: var(--cbkred);
}

.p-card:after{
  /* content: 'ian'; */
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255,255,25,0.05)
}

.p-card .imgBx{
  position: absolute;
  top: 50%;
  transform: translateY(-64%);
  z-index: 10000;
  width: 100%;
  height: 220px;
  transition: 0.5s;
  filter: grayscale(100%);
}

.p-card:hover .imgBx{
  top: 0%;
  transform: translateY(20%);
  filter: grayscale(0%);
}

.p-card .imgBx img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  width: 270px;
}

.p-card .contentBx{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.p-card:hover .contentBx{
  height: 210px;
}

.p-card .contentBx h2{
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}

.p-card .contentBx .size, .p-card .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.p-card:hover .contentBx .size{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.p-card:hover .contentBx .color{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.p-card .contentBx .size h3, .p-card .contentBx .color h3{
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.p-card .contentBx .size span{
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #fff;
  margin: 0 5px;
  transition: 0.5s;
  color: #111;
  border-radius: 4px;
  cursor: pointer;
}

.p-card .contentBx .size span:hover{
  background: #9bdc28;
}

.p-card .contentBx .color span{
  width: 20px;
  height: 20px;
  background: #ff0;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.p-card .contentBx .color span:nth-child(2){
  background: #9bdc28;
}

.p-card .contentBx .color span:nth-child(3){
  background: #03a9f4;
}

.p-card .contentBx .color span:nth-child(4){
  background: #e91e63;
}

.p-card .contentBx a{
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
  margin-top: 0;
}

.p-card:hover .contentBx a{
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;
}

.p-card .contentBx .lead-p{
  color: var(--cbkred);
  padding-top: 0px;
  transition: 0.75s;
}

.p-card:hover .contentBx .lead-p{
  padding-top: 30px;
  opacity: 0;
  transition: 0.75s;
}

.p-card:hover .contentBx p{
  color: var(--cbkgray);
}